.root {
  background: #f9f9fa;

  border: 1px solid #bfc4c9;
  border-radius: 2rem;

  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02rem;
  text-transform: uppercase;

  color: #a7a7a7;

  margin: 0 auto;
  // padding: 1.1rem 2.5rem;
  width: 16.6rem;
  height: 4rem;
  @media (max-width: 320px) {
    width: 100%;
  }
}
