.root {
  height: 3.8rem;
}

.navListWrapper {
  display: flex;
  justify-content: space-between;
}

.navListSearch {
  display: flex;
  align-items: center;
  width: 35rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 60rem;
  height: 3.8rem;
  padding: 0.8rem 1.6rem;
}
@media (max-width: 768px) {
  .navListSearch {
    width: 27.4rem;
  }
}
@media (max-width: 670px) {
  .navListSearch {
    width: 3.8rem;
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .navListSearch {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.navListSort {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 3.8rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 60rem;
}
@media (max-width: 670px) {
  .navListSort {
    padding: 0;
    width: 3.8rem;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .navListSort {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.navListSearchTitle {
  color: #a7a7a7;
}
@media (max-width: 670px) {
  .navListSearchTitle {
    display: none;
  }
}

.navListGrid {
  display: flex;
  gap: 1.6rem;
}

.navListTypeIconLine,
.navListTypeIconSquare {
  position: relative;
  width: 1.425rem;
  height: 1.425rem;
  z-index: -1;
}
.navListTypeIconLine path,
.navListTypeIconSquare path {
  fill: #a7a7a7;
}

.navListTypeIconLine {
  width: 1.8rem;
  height: 1.8rem;
}

.navListType {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
}
@media (max-width: 320px) {
  .navListType {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.navListType:hover {
  filter: drop-shadow(0px 2px 5px rgba(54, 54, 54, 0.1));
}
.navListType:focus {
  filter: drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2)) drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
}
.navListType:focus svg path {
  fill: #a7a7a7;
}
.navListType:active {
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}
.navListType:active svg path {
  fill: #ffffff;
}

.navListActiveType {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}
@media (max-width: 320px) {
  .navListActiveType {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.navListActiveType:hover {
  filter: drop-shadow(0px 2px 5px rgba(54, 54, 54, 0.1));
}
.navListActiveType:focus {
  filter: drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2)) drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
}
.navListActiveType:focus svg path {
  fill: #ffffff;
}
.navListActiveType:active {
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}
.navListActiveType:active svg path {
  fill: #ffffff;
}
.navListActiveType svg path {
  fill: #ffffff;
}

.navListSortIcon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
@media (max-width: 670px) {
  .navListSortIcon img {
    width: 100%;
  }
}

.navListLeft {
  display: flex;
  gap: 1.6rem;
}

.navListSearchInputWrapper {
  width: 19rem;
}
@media (max-width: 670px) {
  .navListSearchInputWrapper {
    display: none;
  }
}

.navListSearchInput {
  outline: none;
  border: none;
  width: 100%;
}

.navListSearchIcon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
}
@media (max-width: 670px) {
  .navListSearchIcon {
    margin-right: 0;
  }
}/*# sourceMappingURL=navlist-component.module.css.map */