.menuTabs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 21.9rem;
}

.menuTab {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #363636;
}

.menuActiveTab {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;

  .menuActiveTabTitle {
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid #f83600;
    margin-bottom: 1.6rem;
    max-width: 25.5rem;
  }

  .menuTabRowActive {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.menuTabRow {
  padding: 0rem 0.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.01rem;
  background: none;
  color: #363636;
}

.menuWrapper {
  max-width: 27.9rem;
  min-width: 27.9rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.menuTabTitle {
  box-sizing: content-box;
  height: 2.8rem;
  max-width: 25.5rem;
}

.menuTabInner {
  padding-left: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.menuTabRowTitle {
  white-space: wrap;
  float: left;
}
.menuTabRow {
  .menuTabRowCount {
    color: #a7a7a7;
    padding-left: 0.2rem;
    font-size: 1.4rem;
  }
}
