.menuTabs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-width: 21.9rem;
}

.menuTab {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #363636;
}

.menuActiveTab {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;

  .menuActiveTabTitle {
    display: inline-block;
    width: 100%;
    background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid #f83600;
    // margin-bottom: 1.6rem;
    max-width: 25.5rem;
    position: relative;
  }
}
.menuTabRow {
  padding: 0rem 0.4rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.01rem;
  background: none;
  color: #363636;
}

.menuWrapper {
  max-width: 27.9rem;
  min-width: 27.9rem;

  @media (max-width: 900px) {
    display: none;
  }
}

.menuTabTitle {
  position: relative;
  box-sizing: content-box;
  height: 2.8rem;
  max-width: 25.5rem;
}
