.bookSquare {
  padding: 0.8rem 0.8rem 1.6rem 0.8rem;

  background: #ffffff;

  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 1rem;

  max-width: 19rem;

  margin-bottom: 0.35rem;
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
  @media (max-width: 320px) {
    max-width: unset;
    width: 100%;

    padding: 0.8rem 1.6rem 1.6rem 1.6rem;
  }
}

.bookLine {
  display: flex;
  max-height: 21.8rem;
  min-height: 20.2rem;
  gap: 1.6rem;
  width: 100%;

  padding: 1.6rem 2.4rem 1.6rem 1.6rem;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;

  @media (max-width: 768px) {
    max-height: 24rem;
  }
  @media (max-width: 505px) {
    gap: 0.8rem;
    padding: 1.6rem 1.6rem 1.6rem 0.8rem;
    min-height: auto;
  }

  .bookContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 505px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .bookImageWrapper {
    min-width: 12rem;
    width: 12rem;
    height: 17rem;
    min-height: 17rem;
    order: 0;
    margin-bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.3rem;
    }

    @media (max-width: 505px) {
      width: 7rem;
      height: 10rem;
      min-height: 10rem;
      min-width: 7rem;
    }
  }

  .bookTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    width: 100%;
    order: 1;
    padding-top: 0rem;
    margin-bottom: 0.8rem;
    height: unset;
    @media (max-width: 768px) {
      font-size: 2.4rem;
      line-height: 3rem;
      letter-spacing: 0.01rem;
    }

    @media (max-width: 505px) {
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-bottom: 0.3rem;
      align-items: baseline;
    }
  }

  .bookAuthor {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    width: 100%;
    order: 2;
    @media (max-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 400;
      text-transform: none;
      margin-bottom: 1.6rem;
    }
    @media (max-width: 505px) {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 0.3rem;
    }
  }

  .bookRating {
    order: 3;

    @media (max-width: 505px) {
      height: fit-content;
    }
  }

  button {
    order: 4;
    margin: 0;
    width: 17.4rem;
  }

  .starFilled {
    @media (max-width: 506px) {
      width: 1.6rem;
      height: 1.6rem;
      img {
        width: 1.333rem;
        height: 1.267rem;
      }
    }
  }
}

.bookImageWrapper {
  width: 17.4rem;
  height: 24.2rem;
  margin-bottom: 1.6rem;
  .bookImage {
    border: 1px solid #a7a7a7;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    margin-bottom: 1.4rem;
  }

  @media (max-width: 320px) {
    margin: 0 auto 1.6rem auto;
  }
}

.bookTitle {
  height: 5.4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;

  display: flex;
  align-items: center;
  letter-spacing: 0.01rem;
  color: #363636;
  margin-bottom: 0.8rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.8rem;
  }

  @media (max-width: 320px) {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.bookAuthor {
  color: #727272;
  margin-bottom: 2.8rem;
  @media (max-width: 768px) {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  @media (max-width: 320px) {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #727272;
    text-transform: none;
  }
}

.bookBtn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookRating {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.1px;

  color: #a7a7a7;
  margin-bottom: 1.5rem;
  height: 2.4rem;
}
